.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 8px;
}

.hero {
  width: 100%;
  background-color: #ffae25;
  color: #fff;
  height: 200px;
  font-size: 100px;
  text-align: center;
}

main {
  display: flex;
}
