.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 8px;
}

.hero {
  background-image: url('./assets/LL_FoodFinder_Banner.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 430px;
}

main {
  display: flex;
}

.ll_logo {
  max-height: 75px;
}

.navLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navLinksContainer a {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #525252;
}

.navLinksContainer a:visited {
  color: #a6a6a6;
}

.navLinksContainer a:hover {
  color: #a6a6a6;
}



